.podcast-container {
    font-family: Arial, sans-serif;
  }
  
  .podcast-list .list-group-item {
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 12px 20px;
  }
  
  .podcast-list .list-group-item:hover {
    background-color: #f0f0f0;
  }
  
  audio,
  video {
    margin-top: 20px;
    width: 100%;
    max-height: 500px; /* Limiter la hauteur des vidéos */
  }
  