<div class="podcast-container">
    <br>
    <br>
    <br>
  <h1>Podcasts</h1>
  <ul class="podcast-list">
    <li *ngFor="let podcast of podcasts" (click)="playPodcast(podcast)">
      <span>{{ podcast.title }}</span>
    </li>
  </ul>
  <div class="podcast-player" *ngIf="currentPodcast">
    <h2>Now Playing: {{ currentPodcast.title }}</h2>
    <audio #audioPlayer controls (ended)="onAudioEnd()">
      <source [src]="currentPodcast.url" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
</div>
