<!-- Afficher les 5 premières images sous 'ocean' -->
<!-- Navbar (fixe en haut) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Image Gallery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container mt-5 pt-5">
  <!-- Row pour les images -->
  <div class="row">
    <!-- Boucle pour afficher les 5 images sous 'ocean' -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-4" *ngFor="let index of [1, 2, 3, 4, 5]">
      <app-image-text [imageUrl]="index" [type]="'ocean'"></app-image-text>
    </div>
  </div>
</div>

