.image-text-container {
    text-align: center;
  }
  

  p {
    font-size: 16px;
    margin-top: 10px;
  }
  /* Applique une taille d'image maximale */
img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* Optionnel, pour que l'image couvre l'espace sans déformation */
  }
  
  /* Ajouter un effet de mise en surbrillance au survol */
  img:hover {
    transform: scale(1.1); /* Agrandissement de l'image au survol */
    transition: transform 0.3s ease-in-out;
  }
  
  